@import url('https://fonts.googleapis.com/css?family=Metrophobic');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.HomeAsteroid {
  background-image: url('http://img2.rtve.es/i/?w=1600&i=1498490392955.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0px;
}
.HomeAsteroid-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
  color: white;
  padding-top: 10vh;
  padding-left: 50px;
}
.HomeAsteroid-title {
  font-size: 20px;
}
.HomeAsteroid-information {
  font-size: 18px;
}
.HomeAsteroid-information-paraph {
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}